@import url("https://fonts.googleapis.com/css2?family=Gelato+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
.fontmain{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.bardiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAF6EF;
    height: 30vh;
    padding-left: 70px;
  padding-right: 70px;

}
.bartxt{
    /* width: 30%; */
    font-size: 1.7rem;
    font-weight: 500;
    margin-block-end: 0em !important;
    margin-block-start: 0em !important;
    text-align: center;
    font-family: 'GelatoSans-Regular', sans-serif !important;
    letter-spacing: .04rem;
}
.barinmid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
@media only screen and (max-width: 1024px) {
.bartxt{
  font-size: 1.3rem;
}
}
@media only screen and (max-width: 768px) {
    .bardiv{
      display: none;
    }
  }