/* General styling */
/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  } */
  
  /* elev container */
  .fontmain{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  .elev-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 70px;
  padding-right: 70px;
    background-color: #fff;
  }
  
  /* Text Content */
  .elev-content {
    max-width: 500px;
    padding-left: 20px;
  }
  
  .elev-content h3 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .elev-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .elev-content p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .cta-button:hover {
    background-color: #333;
  }
  
  /* Image Section */
  .elev-image {
    max-width: 50%;
  }
  
  .elev-image img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
  }
  @media only screen and (max-width: 1200px) {
    .elev-container{
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media only screen and (max-width: 992px) {
    .elev-container h1 {
        font-size: 2.2rem;
    }
}
  @media only screen and (max-width: 768px) {
   
    .elev-container {
      display: flex;
      flex-direction: column;
      padding-left: 120px;
      padding-right: 120px;
    }
    .elev-image {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
    .elev-image img {
      width: 80%;
      height: auto;
    }
  }
  @media only screen and (max-width: 550px) {
    .elev-container {
      
      padding-left: 50px;
      padding-right: 50px;
    }
    .elev-container h1 {
      font-size: 1.8rem;
  }
  
  }
  @media only screen and (max-width: 425px) {
    .elev-container {
      
      padding-left: 30px;
      padding-right: 30px;
    }
    .elev-container h1{
      font-size: 1.6rem;
    }
    .cta-button{
      font-size: 0.8rem;
     }
  }
  @media only screen and (max-width: 375px) {
    .elev-container h1 {
      font-size: 1.4rem !important;
    }
  }