/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Gelato+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
.fontmain{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.chooseone{
  padding: 10px;
}
  .choosegeleto{
    display: flex;
    justify-content: center;
    padding-left: 70px;
  padding-right: 70px;
  }
  /* Info section container */
  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
  padding-right: 70px;
    background-color: #fff;
  }
  
  /* Image section */
  .info-image {
    width: 40%;
    padding-right: 20px;
  }
  
  .info-image img {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Content section */
  .info-content {
    width: 55%;
  }
  
  .info-content ul {
    list-style: none;
    padding: 0;
  }
  
  .info-content li {
    font-size: 1.1rem;
    color: #333;
    align-items: center;
    /* margin-bottom: 20px; */
    /* line-height: 1.5; */
  }
  
  .info-content li strong {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    /* margin-bottom: 8px; */
  }
  
  .info-content a {
    color: #ff5722;
    text-decoration: none;
  }
  
  .info-content a:hover {
    text-decoration: underline;
  }
  .infodata{
    display: flex;
    /* align-items: center; */
  }
  .infoparadata{
    /* margin-bottom: 10px; */
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-top: 15px !important;
    color: #A9A9A9;

  }
  .infomargin{
    margin-top: 40px;
  }
  .worldcommon{
    margin-left: 10px;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
  }
  .infohtag{
    font-size: 3.75rem;
    font-family: 'GelatoSans-Regular', sans-serif !important;
  }
  @media only screen and (max-width: 1200px) {
    .info-container{
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .infohtag{
      font-size: 2.2rem;
      font-family: 'GelatoSans-Regular', sans-serif !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .info-container{
      flex-direction: column;
      padding-left: 120px;
    padding-right: 120px;
      /* padding: 10px; */
    }
    .info-content
    {
      width: 100%;
    }
    .infohtag{
      font-size: 2rem;
      font-family: 'GelatoSans-Regular', sans-serif !important;
    }
  }
  @media only screen and (max-width: 550px){
    .info-container{
      
      padding-left: 50px;
    padding-right: 50px;
    }
    .infohtag {
      font-size: 1.8rem;
  }
  }
  @media only screen and (max-width: 425px){
    .info-container{
     
      padding-left: 30px;
    padding-right: 30px;
    }
    .infohtag{
      font-size: 1.6rem;
    }
    .choosegeleto{
      padding-left: 0px;
      padding-right: 0px;
    }
    .worldcommon
    {
      font-size: 1.2rem;
    }
    .infoparadata{
      font-size: 0.9rem;
    }
  }
  @media only screen and (max-width: 375px) {
    .infohtag {
      font-size: 1.4rem !important;
    }
  }