@import url("https://fonts.googleapis.com/css2?family=Gelato+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
.fixed-button {
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  right: 20px;  /* Distance from the right */
  padding: 10px 20px; /* Padding inside the button */
  background-color: #000; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer */
  z-index: 1000; /* Ensure it stays on top */
  transition: background-color 0.3s; /* Smooth transition */
  display: flex;
  gap: 10px;
}

.fixed-button:hover {
  background-color: #000;
  color: white;
  /* Darker shade on hover */
}

@media (max-width: 768px) {
  .fixed-button {
   display: none;
  }
}